[Unit]
Description=Unhiding sapservices file from sapinit
Documentation=man:sapservices-move(8)
After=sapinit.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/sapservices-move --unhide
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
