[Unit]
Description=Hiding sapservices file from sapinit
Documentation=man:sapservices-move(8)
Before=sapinit.service pacemaker.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/sapservices-move --hide

[Install]
WantedBy=multi-user.target
