[Unit]
Description=Hiding sapservices file from sapinit
Documentation=man:sapservices-move(8)
Before=sapinit.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/sapservices-move --hide
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
